/* Dashboard.css */
.main-container-dashboard {
  padding: 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin-top: 50px;
  border-radius: 10px;
}

.main-container-dashboard h1 {
  text-align: center;
}

.main-container-dashboard Form {
  margin-bottom: 3rem;
}

.main-container-dashboard button {
  margin-top: 3rem;
}
